.cartItem{
    height: 100px;
    width: 90%;
    border: 2px solid #effefe;
    box-shadow: 0px 0px 5px #999;
    border-radius: 4px;
    margin-bottom: 12px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-weight: 660;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cartItem i{
    background-color: crimson;
    padding: 8px 18px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

}
.cartItem img{
    width: 5rem;
    height: 90%;
}
#totalPrice{
    height: 200px;
    width: 40%;
    box-shadow: 0px 0px 5px #888;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    margin-left: 55%;
}